:root{
    --cor1: hsl(258, 89%, 56%); 
    --cor2: hsl(258, 89%, 70%); 
    --cor3: #303030;
    --cor4: hsl(258, 69%, 46%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    background-color: var(--cor3);
    height: 100vh;
    width: 100vw;
}

section {
    margin: 0 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 50px 0;
}

td {
    width: 80px;
    height: 80px;
    padding: 2px;
    
}
#display{
    font-size: 2em;
    text-align: right;
    padding-right: 20px;
    background-color: rgb(31, 129, 108);
    border: none;
    height: 100%;
    width: 100%;
}

button {
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: rgb(103, 43, 243);
    border: none;
}
button:hover{
    background-color: var(--cor2);
}
button:active{
    background-color: var(--cor4);
}